.cdc-melbourne {
    background-color: #fc923d;
}

div.busService:nth-child(even) .cdc-melbourne {
    background-color: #fb7b13;
}

.ventura-bus-lines {
    background-color: #14315b;
}

div.busService:nth-child(even) .ventura-bus-lines {
    background-color: #0c1d36;
}

.transdev-melbourne {
    background-color: #e30613;
}

div.busService:nth-child(even) .transdev-melbourne {
    background-color: #bc0510;
}

.dysons {
    background-color: #2eb130;
}

div.busService:nth-child(even) .dysons {
    background-color: #259027;
}

.panorama {
    background-color: #d00071;
}

div.busService:nth-child(even) .panorama {
    background-color: #930050;
}

.sita-bus-lines {
    background-color: #ae6e00;
}

div.busService:nth-child(even) .sita-bus-lines {
    background-color: #835300;
}

.kastoria-bus-lines {
    background-color: #205878;
}

div.busService:nth-child(even) .kastoria-bus-lines {
    background-color: #153b50;
}

.tullamarine-bus-lines {
    background-color: #720016;
}

div.busService:nth-child(even) .tullamarine-bus-lines {
    background-color: #4b000e;
}

.moonee-valley-bus-lines {
    background-color: #f93a3a;
}

div.busService:nth-child(even) .moonee-valley-bus-lines {
    background-color: #e80707;
}

.sunbury-bus-service {
    background-color: #ab191f;
}

div.busService:nth-child(even) .sunbury-bus-service {
    background-color: #7c1217;
}

.ryan-bros-bus-service {
    background-color: #1080a3;
}

div.busService:nth-child(even) .ryan-bros-bus-service {
    background-color: #0b5870;
}

.broadmeadows-bus-service {
    background-color: #305fb3;
}

div.busService:nth-child(even) .broadmeadows-bus-service {
    background-color: #1f3e74;
}

.moreland-bus-lines {
    background-color: #50866d;
}

div.busService:nth-child(even) .moreland-bus-lines {
    background-color: #325344;
}

.mckenzies-tourist-service {
    background-color: #274523;
}

div.busService:nth-child(even) .mckenzies-tourist-service {
    background-color: #192d17;
}

.martyrs-bus-service {
    background-color: #71afc7;
}

div.busService:nth-child(even) .martyrs-bus-service {
    background-color: #438daa;
}

.cranbourne-transit {
    background-color: #fdce04;
}

div.busService:nth-child(even) .cranbourne-transit {
    background-color: #cea802;
}
