extends ../layout

block header
    span#title Public Transport Stops Nearby
    
block scripts
    script(src='/static/scripts/pt-stops-nearby.js')

block css
    link(rel='stylesheet' href='/static/css/pt-stops-nearby.css')
