extends layout

block header
    span#title TransportVic

block content
    form(method='GET' action='/timings')
        p get timings
        input(name='q')
        input(type='submit' value='go')
            
            
    form(method='GET' action='/search')
        p search
        input(name='q')
        input(type='submit' value='go')
