#content {
    width: 100vw;
    height: calc(96vh - 4vw);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
}

#content > span:nth-child(1) {
    font-size: calc(21vw + 19vh);
    line-height: calc(20vw + 20vh);
    height: calc(20vw + 20vh);
}

#content > span:nth-child(2) {
    font-size: calc(9vw + 1.3vh);
}
