a.stop {
    background-color: #2a2a2a;
}

a.stop:nth-child(even) {
    background-color: #202020;
}

a.stop > div {
    display: flex;
}

.leftContainer {
    order: 0;
    width: calc(5.2vw + 5.2vh);
    height: calc(7vw + 7vh);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    font-size: calc(2vw + 2vh);
    color: #d2d2d2;
}

.leftContainer img {
    width: calc(3vw + 3vh);
    height: calc(3vw + 3vh);
}

.leftContainer span {
    font-size: calc(0.8vw + 0.8vh);
}

.bus-stop .leftContainer {
  background-color: #d7832c;
}

.bus-stop:nth-child(even) .leftContainer {
  background-color: #c47625;
}

.train-station .leftContainer {
    background-color: #3483db;
}

.train-station:nth-child(even) .leftContainer {
    background-color: #2370c5;
}

.tram-stop .leftContainer {
    background-color: #1a942a;
}

.tram-stop:nth-child(even) .leftContainer {
    background-color: #20b734;
}

.stopInfo {
    width: calc(95vw - 5vh);
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin-left: calc(1vw + 1vh);
    font-size: calc(2vh + 1.2vw);
}

.stopInfo > span:nth-child(1) {
  color: #8f8f8f;
  font-size: calc(1.6vh + 0.9vw);
}

.stopInfo > span:nth-child(2) {
  font-size: calc(2vh + 1.2vw);
  margin-top: calc(-0.4vh - 0.2vw);
}
