a.stop {
    background-color: #2a2a2a;
}

a.stop:nth-child(even) {
    background-color: #202020;
}

a.stop > div {
    display: flex;
}

.distanceMeter {
    order: 0;
    width: calc(5.2vw + 5.2vh);
    height: calc(7vw + 7vh);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: calc(2vw + 2vh);
    color: #d2d2d2;
}

.distanceMeter span:nth-child(2) {
    font-size: calc(0.6vw + 0.6vh);
}

.nearby {
    background-color: #4ebe45;
}

.stop:nth-child(even) .nearby {
    background-color: #43a93b;
}

.close {
    background-color: #d7832c;
}

.stop:nth-child(even) .close {
    background-color: #c47625;
}

.far {
    background-color: #c63d3d;
}

.stop:nth-child(even) .far {
    background-color: #b43535;
}

.stopInfo {
    width: calc(95vw - 5vh);
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    margin-left: calc(1vw + 1vh);
    font-size: calc(2vh + 1.2vw);
}

.stopInfo > span:nth-child(1) {
  color: #8f8f8f;
  font-size: calc(1.6vh + 0.9vw);
}

.stopInfo > span:nth-child(2) {
  font-size: calc(2vh + 1.2vw);
  margin-top: calc(-0.4vh - 0.2vw);
}
