extends ../layout

block head
    title TransportVic - Metro Bus Service
    
block header
    img#page-icon(src='/static/images/magnifying-glass.svg')
    span#title='Metro Bus Service '
    
block css
    link(rel='stylesheet' href='/static/css/index.css')

block content
