extends ../layout

block header
    img#page-icon(src='/static/images/bus-stop.svg')
    span#title=busStop.busStopName

block content
    include ../templates/bus-timings
    
block css
    link(rel='stylesheet' href='/static/css/bus/timings.css')
    link(rel='stylesheet' href='/static/css/bus/operator-colours.css')
