extends ../layout

block header
    title='TransportVic - ' + trainStation.stationName
    img#page-icon(src='/static/images/metro-icon.svg')
    span#title=trainStation.stationName

block content
    include ../templates/metro-timings-list
    
block css
    link(rel='stylesheet' href='/static/css/metro/timings.css')
    link(rel='stylesheet' href='/static/css/metro/line-colours.css')

block scripts
    script(src='/static/scripts/bookmark-helper.js' async)
    script(src='/static/scripts/bookmark-toggle.js' async)
    script window.bookmarkCode = "#{trainStation.bookmarkCode}";
    script(src='/static/scripts/metro-timings.js' async)
    
block links
    img(onclick=`toggleBookmark(bookmarkCode)` src='/static/images/bookmark/empty.svg')#bookmark-status
